 .header-container{
    display: flex;
    gap: 5px;
    border: 3px solid rgb(32, 218, 159);
 }

 .card {
    border: 2px solid salmon;
    text-align: center;
 }
 
 .header-container > * {
     
 }
 .home {
    flex: 1;
 }
 .contact {
    flex: 2;
 }
 .about{
    flex: 1;
 }
 